# Nama : Sannie Octavhia
# NIM : 2209106015
# Kelas : A1 Informatika 2022

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

In [8]:
cani = pd.read_csv('glassdoor_reviews.csv')

In [9]:
cani.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons
0,AFH-Wealth-Management,2015-04-05,,Current Employee,NaN,2,4.0,3.0,NaN,2.0,3.0,3.0,x,o,r,"Young colleagues, poor micro management",Very friendly and welcoming to new staff. Easy...,"Poor salaries, poor training and communication."
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0,x,o,r,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,x,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very..."
3,AFH-Wealth-Management,2016-04-16,,Current Employee,NaN,5,2.0,3.0,NaN,2.0,2.0,3.0,x,o,r,Over promised under delivered,Nice staff to work with,No career progression and salary is poor
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0,x,o,x,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr..."

# Pertama, kita import semua library yang dibutuhkan kemudian masukkan file csv dan tampilkan

In [10]:
cani.set_index('date_review', inplace=True)
cani.head()

,firm,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons
date_review,,,,,,,,,,,,,,,,,
2015-04-05,AFH-Wealth-Management,,Current Employee,NaN,2,4.0,3.0,NaN,2.0,3.0,3.0,x,o,r,"Young colleagues, poor micro management",Very friendly and welcoming to new staff. Easy...,"Poor salaries, poor training and communication."
2015-12-11,AFH-Wealth-Management,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0,x,o,r,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...
2016-01-28,AFH-Wealth-Management,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,x,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very..."
2016-04-16,AFH-Wealth-Management,,Current Employee,NaN,5,2.0,3.0,NaN,2.0,2.0,3.0,x,o,r,Over promised under delivered,Nice staff to work with,No career progression and salary is poor
2016-04-23,AFH-Wealth-Management,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0,x,o,x,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr..."

In [11]:
cani.loc['2016-04-23', 'overall_rating']

date_review
2016-04-23    1
2016-04-23    3
2016-04-23    5
2016-04-23    2
2016-04-23    3
             ..
2016-04-23    1
2016-04-23    2
2016-04-23    5
2016-04-23    2
2016-04-23    1
Name: overall_rating, Length: 141, dtype: int64

# Kedua, kita menggunakan variabel date_review sebagai index agar memudahkan kita untuk menggunakan .loc nantinya

In [12]:
job_review = cani['overall_rating'].value_counts()
job_review

overall_rating
4    278277
5    232255
3    194267
2     74809
1     58958
Name: count, dtype: int64

In [ ]:
job_group = cani.groupby('overall_rating').sum()
job_group.head()

## Membuat variabel job_review untuk memudahkan pemanggilan saat membuat visualisasi data

In [ ]:
# pandas
job_review.plot.bar()
plt.title('Data People Job Review')
plt.xlabel('People Review')
plt.ylabel('Total Review')
plt.show()

## 1) Pada grafik batang dapat dilihat bahwa rating masing-masing orang pada 'People Review' (Job) yang pernah mereka jalani sebelumnya maupun yang dijalani sekarang dominasi memberikan rating 4 yang artinya bahwa pekerjaan yang mereka ambil tersebut sangat worth it dengan gaji yang besar dan lingkup kerja yang luas.
## 2) Sedangkan Total Review menampilkan jumlah orang yang telah memberikan reviewnya bagi pekerjaan mereka sendiri

In [ ]:
# matplotlib
plt.hist(cani['overall_rating'])
plt.title('Data Job Review')
plt.xlabel('People Review')
plt.ylabel('Total Review')
plt.show()

## 1) Pada grafik Histogram ini ditampilkan data 'People Review' pada overall_rating yaitu orang-orang yang memberikan ratingnya bagi pekerjaan yang telah mereka jalani sebelumnya ataupun pekerjaan yang sedang dijalani sekarang ini memberikan rating 4.0 yang dimana artinya banyak pekerjaan yang dapat dikatakan layak untuk dijalani dengan lapangan kerja yang pas, gaji yang lumayan, ruang lingkup pekerjaan yang pas dan pekerjaan yang dirasa cocok dengan kebutuhan masing-masing pereview
## 2) Dengan Total review mencapai 250000 orang yang memberikan rating pada pekerjaan mereka dengan rating 4.0

In [ ]:
plt.figure(figsize=(7,12))
job_review['work_life_balance'].plot.pie(autopct='%.1f%%')
plt.title('Total Review jika dipersentasekan')
plt.show()

## terlihat dari diagram pie bahwa kebanyakan orang memberikan rating yang cukup baik bagi pekerjaannya

In [ ]:
# seaborn
sns.scatterplot(
    data=cani,
    x='job_title',
    y='work_life_balance',
    hue='overall_rating'
)

plt.title('Data Job Review Menurut Pekerjaan')
plt.xlabel('Job')
plt.ylabel('Worth for Future')
plt.show()

## Pada grafik Scatterplot, menunjukkan bahwa banyak jenis pekerjaan yang sesuai dengan apa yang mereka inginkan dengan gaji yang cukup, ruang lingkup pekerjaan yang cukup memuaskan

In [ ]:
job_review.loc[:, 'overall_rating':'recommend'].plot()
plt.title('Data Job Review menurut recommend dari orang-orang menggunakan grafik lainnya')
plt.xlabel('JOB REVIEW')
plt.ylabel('Jumlah Recommend')
plt.show()

## Dapat dilihat dari grafik diatas bahwa banyak dari per 70% orang memberikan recommended bagi pekerjaan yang mereka jalani sekarang

In [ ]:
# seaborn
total_corr = cani.loc[:,'date_review':'recommend'].corr()
total_corr

In [ ]:
sns.heatmap(total_corr, annot=True, cmap='cividis')

## Korelasi antar Recommend cenderung menonjol besar dari pada work_life_balance